@@media (min-width: 800px){
	.gridWrapper{
		font-size: 5pt;
		display: grid;
		grid-template-rows: 100px 1fr;
	}

	.headGridWrapper{
		display: grid;
		grid-template-columns: 20% auto;
		gap: 10px;
	}

	.headerInformationGridWrapper{
		display: grid;
		grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
		gap: 10px;
	}

	.bodyGridWrapper{
		display: grid;
		grid-template-rows: auto 1fr;
	}

	.bodyCharacteristicsGridWrapper{
		display: grid;
	}

	.bodyNoDescription{
		display: grid;
		grid-template-columns: 150px 1fr;
	}
}

@media (min-width: 0){
	.gridWrapper{
		font-size: 5pt;
		display: grid;
		grid-template-rows: min-content 1fr;
		gap: 10px;
	}

	.headGridWrapper{
		display: grid;
		grid-template-rows: min-content 1fr;
		gap: 10px;
	}

	.headGridWrapper input{
		width: 100%;
	}

	.headerInformationGridWrapper{
		display: grid;
		grid-template-rows: repeat(6 1fr);
		gap: 10px;
	}

	.bodyGridWrapper{
		display: grid;
		grid-template-rows: min-content 1fr;
		gap: 10px;
	}

	.bodyNoDescription{
		display: grid;
		grid-template-rows: min-content 1fr;
	}

	.bodyCharacteristicsGridWrapper{
		display: grid;
		gap: 10px;
	}

	textarea{
		width: 90%;
		resize: vertical;
		font-size: 10pt;
		min-height: 100pt;
		max-height: 500pt;
		height: 100pt;
	}
}

.num label input{
	width: 40px
}

.Img{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.Img img{
	max-width: 100%;
	max-height: 100%;
	margin-top: 10px;
	object-fit: cover;
}

button{
	padding: 10px;
}
